.roboto-condensed-nor {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2eded78;
}
header {
  background-image: url(/Assets/Hero-bg.png);
  max-height: 900px;
  max-width: 1440px;
  margin-bottom: 100px;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px 100px 200px;
  align-items: center;
  padding: 20px;
}
.logo {
  color: crimson;
}
.sign-up {
  height: 35px;
  width: 75px;
}
.title {
  text-align: center;
  width: 950px;
  height: 320px;
  margin: 0 auto;
}

/* shared style */
.button-color {
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.title .title-para {
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 20px;
}
.stay-button {
  width: 130px;
  height: 40px;
}

.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1100px;
  margin: 0 auto;
}
.action-para {
  width: 360px;
}
.action-para p {
  color: darkgrey;
  font-size: larger;
}
.action-para h2 {
  font-size: 40px;
  margin-bottom: 15px;
}
.action-section img {
  border-radius: 30px;
}
.launch-button {
  width: 165px;
  height: 35px;
  margin-top: 15px;
}
.section2main {
  width: 1100px;

  background-color: #4d47ff1e;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 20px;
  padding: 50px;
}
.section2child {
  display: flex;
  justify-content: space-between;
}
.section2headings {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: bold;
}
.section2child .bold-para {
  font-size: 70px;
  font-weight: 700;
  color: #4e47ff;
}
.section2child .normal-para {
  color: #00000073;
  font-size: large;
}

.user-container {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  margin: 0 auto;
}
.review-para {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: xx-large;
}
.user-area img {
  margin-bottom: 10px;
}

.user-area .big {
  font-size: larger;
  margin-bottom: 8px;
  font-weight: bold;
}
.user-area {
  width: 340px;

  background-color: white;
  border-radius: 20px;
  padding: 20px 15px 20px 20px;
}

.reviewer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.reviewer-img img {
  border-radius: 50%;
}
