* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-image: url(/Assets/Hero-bg.png);
  max-height: 800px;
  max-width: 1440px;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px 100px 200px;
  align-items: center;
  padding: 20px;
}
.logo {
  color: crimson;
}
.sign-up {
  height: 24px;
  width: 65px;
}
.title {
  text-align: center;
  width: 950px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 100px;
}

/* shared style */
.button-color {
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.title .title-para {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 20px;
}
.stay-button {
  width: 120px;
  height: 24px;
}
